#
# RAM Tracer revision 2, constraints and wiring information.
# This constraints file is for the prototype hardware only.
# The later 'twlfpga' PCBs have additional peripherals,
# aren't quite compatible with the prototype's constraints
# file.
#
# This file contains both the FPGA constraints and some
# human-readable notes about other necessary hookups.
#
# This is designed for use with a bare Spartan 3E chip in the
# PQ208 package. I used the breakout board from Spark Fun electronics:
#
#  http://www.sparkfun.com/commerce/product_info.php?products_id=8458
#
# This design may be adaptable to other FPGAs, but please pay special
# attention to the I/O standards. All DSi memory bus connections must
# use 1.8v logic. In this design, those connections are all made on
# separate I/O banks which take their VccO from the DSi's 1.8v power rail.
#
# -- Micah Dowty <micah@navi.cx>


########################################################
#
# Spark Fun Spartan3E Evaluation Card peripherals
#

# RS-232 port and line drivers

#NET "serial_cts" LOC = "P109" | IOSTANDARD = LVCMOS33 ;
#NET "serial_txd" LOC = "P107" | IOSTANDARD = LVCMOS33 ;
#NET "serial_rxd" LOC = "P106" | IOSTANDARD = LVCMOS33 ;
#NET "serial_dtr" LOC = "P108" | IOSTANDARD = LVCMOS33 ;

# 50 MHz oscillator
# XXX: It's on a 1.8v bank, but the oscillator is 3.3v. Oops.

NET "clk50" LOC = "P181" | IOSTANDARD = LVCMOS18 | TNM_NET = clk50 ;
TIMESPEC TS_clk50 = PERIOD "clk50" 50 MHz HIGH 50%;


########################################################
#
# USB interface: FTDI FT2232H Mini Module
#
# http://www.ftdichip.com/Products/EvaluationKits/FT2232H_MiniModule.htm
#

# This module is configured as USB Self-Powered, drawing its 5V
# power from the FPGA board.
#
#    CN2 pins 1,3,5 = V3V3
#    CN2 pins 11,21 + CN3 pins 12,22 = VIO
#    Connect V3V3 and VIO together.
#
#    Ground:    CN3-2
#    VCC (+5v): CN3-3

# All FT2232H connections are made on Bank 2 of the FPGA,
# configured with 3.3v I/O. Port B of the FT2232H is unused,
# since it is unavailable when using the high-speed synchronous
# FIFO. Port A is used in synchronous FIFO mode during normal
# operation, but we also use the FT2232H to configure the FPGA.
#
# During configuration:
#
#    D0-7:     Parallel configuration data from FT2232H to FPGA
#    CSI_B:    Chip select, must be low during configuration
#    RDWR_B:   Read/write, must be  low during configuration
#    CCLK:     Data clock (data latched on rising edge)
#    PROG_B:   Pulse low to reset FPGA. Must be high during config.
#    DONE:     Configuration successful?
#
# We'll use interface A in asynchronous bit-bang mode to actually
# clock out the configuration bitstream. The other relevant pins
# (CSI, RDWR, PROG, DONE) are connected to port B, also in bit-bang mode.
# These pins are connected via 1K series current-limiting resistors.
#
#    FT2232H Name     Pin#     FPGA Name   Pin#
#    ------------------------------------------
#
#    AD0              CN2-7    D0          P87
#    AD1              CN2-10   D1          P83
#    AD2              CN2-9    D2          P82
#    AD3              CN2-12   D3          P78
#    AD4              CN2-14   D4          P77
#    AD5              CN2-13   D5          P76
#    AD6              CN2-16   D6          P75
#    AD7              CN2-15   D7          P74
#    AC0/RXF#         CN2-18   IO          P63
#    AC1/TXE#/WRSTB#  CN2-17   CCLK        P103
#    AC2/RD#          CN2-20   IO          P62
#    AC3/WR#          CN2-19   IO          P65
#    AC5/CLKOUT       CN2-24   M2/GCLK1    P81
#    AC6/OE#          CN2-23   IO          P64
#    BD0              CN3-26   CSI         P61
#    BD1              CN3-25   RDWR        P80
#    BD2              CN3-24*  DONE        P104
#    BD3              CN3-23*  PROG        P1
#
#  * = Series 330 ohm resistor
#
#  NOTE: All of the GCLK pins on bank 2 are shared with either
#        a data bit or with M2. We can't share with a data bit,
#        so we choose the lesser of two evils.. since M2 needs
#        to be 1 to select slave parallel configuration mode,
#        it's important that our CLKOUT pin is 1 or high-Z when
#        the FPGA starts up. This should be the case.
#

# Master clock, provided by the FT2232H. Runs at 60 MHz.

NET "mclk"  LOC = "P81" | IOSTANDARD = LVCMOS33 | TNM_NET = mclk ;
TIMESPEC TS_mclk = PERIOD "mclk" 60 MHz HIGH 50%;

# Synchronous FIFO

NET "usb_d<0>" LOC = "P87" | IOSTANDARD = LVCMOS33 ;
NET "usb_d<1>" LOC = "P83" | IOSTANDARD = LVCMOS33 ;
NET "usb_d<2>" LOC = "P82" | IOSTANDARD = LVCMOS33 ;
NET "usb_d<3>" LOC = "P78" | IOSTANDARD = LVCMOS33 ;
NET "usb_d<4>" LOC = "P77" | IOSTANDARD = LVCMOS33 ;
NET "usb_d<5>" LOC = "P76" | IOSTANDARD = LVCMOS33 ;
NET "usb_d<6>" LOC = "P75" | IOSTANDARD = LVCMOS33 ;
NET "usb_d<7>" LOC = "P74" | IOSTANDARD = LVCMOS33 ;

NET "usb_rxf_n" LOC = "P63"  | IOSTANDARD = LVCMOS33 ;
NET "usb_txe_n" LOC = "P103" | IOSTANDARD = LVCMOS33 ;
NET "usb_rd_n"  LOC = "P62"  | IOSTANDARD = LVCMOS33 ;
NET "usb_wr_n"  LOC = "P65"  | IOSTANDARD = LVCMOS33 ;
NET "usb_oe_n"  LOC = "P64"  | IOSTANDARD = LVCMOS33 ;


########################################################
#
# DSi 3.3 volt I/O
#

NET "dsi_sysclk"  LOC = "P69"  | IOSTANDARD = LVCMOS33 ;
NET "dsi_reset"  LOC = "P90"  | IOSTANDARD = LVCMOS33 ;

# CE1 Override
#
# The CE1 line was separated between the RAM and CPU.
# ram_ce1_in is from the CPU, ram_ce1_out is to the RAM.
# However, the FPGA isn't fast enough to forward CE1 from
# CPU to RAM 100% of the time. Additionally, it can cause
# occasional crashes if we leave ce1_out high-Z all the
# time, since the long unterminated wire back to the FPGA
# will cause signal integrity problems.
#
# The easiest solution seemed to be:
#
#   - A 330 ohm resistor between the RAM CE1 pin and CPU
#     CE1 pin. This lets the CPU control the RAM CE1
#     directly most of the time.
#
#   - Two silicon diodes in series with the FPGA's ram_ce1_out
#     pin and the RAM's CE1. When we drive ram_ce1_out
#     to zero, the diodes are off and we have negligible
#     effect on the CE1 signal. When we drive ram_ce1_out
#     high, we pull the RAM CE1 pin high through the diodes.
#
# To work around the diode voltage drop, it seemed easiest
# to use two back-to-back diodes (1.2v drop) and use a 3.3v
# output even though the signals are 1.8v. So when we drive
# ram_ce1_out high, the actual CE1 pin to about 2.1v, which
# should be close enough to the 1.8v logic levels. This
# voltage is also not outside the RAM's absolute maximum
# rating of 2.5v.

NET "ram_ce1_out"  LOC = "P68"  | IOSTANDARD = LVCMOS33 ;


########################################################
#
# DSi 1.8 volt I/O -- Bank 0
#
# VccO connected to DSi VCC18 rail.
#

# Special notes on DSi I/O:
#
#   - ram_clk needs a 330 ohm series resistor.
#     Otherwise, ringing on the clock line can interfere
#     with the RAM's normal operation, and the DSi won't boot.
#
# XXX: I should probably include termination resistors for
#      all of these signals, but so far I'm not. If this was
#      a Spartan 3 rather than a 3E, I could use DCI for
#      on-die termination...

##### Global glock I/O pins

NET "ram_clk" LOC = "P177" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P178" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P180" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P181" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P185" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P186" | IOSTANDARD = LVCMOS18 | KEEPER = true ;

##### I/O pins

#NET "" LOC = "P160" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P161" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P162" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P163" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P164" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P165" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P167" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P168" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P171" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
#NET "" LOC = "P179" | IOSTANDARD = LVCMOS18 | KEEPER = true ;

NET "ram_d<2>"    LOC = "P172" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<0>"    LOC = "P187" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_oe"      LOC = "P189" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_ce1_in"  LOC = "P190" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<15>"   LOC = "P192" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<1>"    LOC = "P193" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<21>"   LOC = "P196" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<4>"    LOC = "P197" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<22>"   LOC = "P199" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<2>"    LOC = "P200" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<14>"   LOC = "P202" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<6>"    LOC = "P203" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<16>"   LOC = "P205" | IOSTANDARD = LVCMOS18 | KEEPER = true ;


########################################################
#
# DSi 1.8 volt I/O -- Bank 3
#
# VccO connected to DSi VCC18 rail.
#

NET "ram_d<15>" LOC = "P2" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<3>"  LOC = "P3" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<14>" LOC = "P4" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<3>"  LOC = "P5" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<12>" LOC = "P8" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<5>"  LOC = "P9" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<10>" LOC = "P11" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<18>" LOC = "P12" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<8>"  LOC = "P15" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<7>"  LOC = "P16" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<0>"  LOC = "P18" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<9>"  LOC = "P19" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<1>"  LOC = "P22" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<11>" LOC = "P23" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<17>" LOC = "P24" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_adv"   LOC = "P25" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_lb"    LOC = "P28" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_ub"    LOC = "P29" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<13>" LOC = "P30" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<20>" LOC = "P31" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<10>" LOC = "P33" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<9>"  LOC = "P34" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<4>"  LOC = "P35" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<6>"  LOC = "P36" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<12>" LOC = "P39" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<7>"  LOC = "P40" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<8>"  LOC = "P41" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<11>" LOC = "P42" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<19>" LOC = "P45" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_d<5>"  LOC = "P47" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_a<13>" LOC = "P48" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_ce2"   LOC = "P49" | IOSTANDARD = LVCMOS18 | KEEPER = true ;
NET "ram_we"    LOC = "P50" | IOSTANDARD = LVCMOS18 | KEEPER = true ;


########################################################
#
# Additional options for outputs we're driving during patching
#

NET "ram_ce1_out" SLEW = fast | DRIVE = 16 ;

NET "ram_d<0>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<1>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<2>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<3>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<4>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<5>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<6>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<7>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<8>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<9>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<10>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<11>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<12>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<13>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<14>" SLEW = fast | DRIVE = 8 ;
NET "ram_d<15>" SLEW = fast | DRIVE = 8 ;

####
